.navbarLink {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--light-100);
  max-width: fit-content;
  padding: 0;
}

.navbarLink:hover {
  color: var(--primary-100);
}

.navbarLink.active {
  color: var(--primary-500);
}

.navbarLink:focus-visible {
  color: var(--light-100);
  outline: 2px solid var(--primary-700);
}

.navbarLink.disabled {
  color: var(--dark-100);
  cursor: default;
}

.navbarLink:nth-child(6) {
  margin-top: 60px;
}

.navbarLink:last-child {
  margin-top: 180px;
}
