.container {
  width: 100%;
}

.tabs {
  width: 100%;
}

.tabList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--dark-100);
  position: relative;
  margin-bottom: 36px;
}

.underline {
  position: absolute;
  bottom: -2px;
  height: 2px;
  background-color: var(--primary-500);
  border-radius: 1px;
}

.tab {
  position: relative;
  padding: 6px 24px;
  min-width: 85px;
  min-height: 36px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--dark-100);
  font-weight: 500;
  transition: all 0.3s ease;
}

.tab:hover {
  background-color: rgb(35 78 153 / 15%);
}

.tab:active {
  background-color: rgb(115 165 255 / 15%);
}

.tab:focus {
  outline: 2px solid var(--primary-700);
  border-radius: 2px;
}

.tab:disabled {
  color: var(--dark-300);
  cursor: not-allowed;
}

.tab:focus:not(:focus-visible) {
  outline: none;
}

.tab[data-state="active"] {
  color: var(--primary-500);
}
