.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1280px;
  width: 100%;
  background-color: var(--dark-700);
  margin-top: 84px;
}

.progressBar {
  position: fixed;
  top: 0;
  max-width: 1280px;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  pointer-events: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 84px;
  overflow: auto;
}

.children {
  min-width: 1060px;
  display: flex;
  justify-content: center;
}
