.avatar {
  object-fit: cover;
  border-radius: 50%;
  outline: 1px solid var(--dark-900);

  &.small {
    width: 36px;
    height: 36px;
  }

  &.large {
    width: 204px;
    height: 204px;
  }

  &.medium {
    width: 60px;
    height: 60px;
  }
}
