.contentWrapper {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.form {
  max-width: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 36px;
}
